<html><head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style type="text/css">
<%= stylesheet_string %>
</style>
</head>
<body>
<%= @html_message %>
<% if @message_link %>
<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" href="<%= @message_link %>"></link>
    <meta itemprop="name" content="View Commit"></meta>
  </div>
  <meta itemprop="description" content="View this Commit on Website"></meta>
</div>
<% end %>
</body>
</html>
